<div class="ui segment" style="position: absolute; left: 20px; right: 20px; top: 20px">
  <div class="ui grid centered">
    <div class="six wide column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/person-flat.png">
        </div>
        <div class="content">
          <a class="header">ID: {{user.id}}</a>
          <div class="meta">
            <span class="date">Port: {{user.port}}</span>
          </div>
          <div class="description">
            IP: {{user.ip}}
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="signal icon"></i>
            Speed: {{user.speed}} mb/s
          </a>
        </div>
      </div>
    </div>

    <div class="six wide column" style="height: 450px; overflow: auto">

      <div class="ui list">
        <div class="item" *ngFor="let peer of peers" [ngClass]="{'choked': isInChoked(peer)}">
          <img class="ui avatar image" src="/assets/peer.png">
          <div class="content">
            <a class="header">{{peer.speed}} mb/s</a>
            <div class="description">
              {{peer.ip}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="ui grid">
    <div class="six wide column">
      <div class="ui button teal" (click)="start()">Start</div>
      <div class="ui button red" (click)="stop()">Stop</div>
    </div>

    <div class="six wide column">
      <div class="ui message transition hidden">
        <i class="close icon"></i>
        <div class="header">
          {{event.title}}
        </div>
        <p>{{event.description}}</p>
      </div>
    </div>
  </div>
</div>
